/* ==wrapper== */
#wrapper{
    background-color: rgb(216, 221, 248);
}
/* ==header bar==  */
#header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(82, 149, 248);
    padding: 20px;
    margin: 10px;
    font-size: larger;
}
/* ==content box==  */
#content{
    padding: auto; /*ko co tac dung */
}
/* ==top content==  */
#top-content{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
/* --graph box-- */
.left-content{
    width: 25%;
    background-color: #ffffff;
}
.title{
    text-align: center;
    padding: 10px;
    background-color: rgb(82, 149, 248);
    color: #ffffff;
}
.image{
    display: flex;
    justify-content: center; /* Center the content horizontally; Căn giữa cho flex items */
    padding: 10px;
}
/* --table result-- */
#table{
    width: 74%;
    background-color: #ffffff;
}
#result {
    display: flex; /* Sắp xếp các phần tử theo hàng */
    width: 100%; /* Đảm bảo chiều rộng 100% để có không gian căn giữa */
    overflow-y: scroll; /* Thanh cuon  */
}
.column-result{
    background-color: rgb(147, 174, 241);
    flex: 1;
    padding: 5px;
    text-align: center;
}
/* ==low content== */
#low-content{
    padding: 10px;
}
#value-box{
    padding: 10px;
}
.value-row{
    display: flex;
}
.value-name{
    padding: 10px;
}
#text{
    padding: 10px;
    width: 100%;
}
.value-and-box{
    width: 100%;
    margin: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* --button-- */
#control-box{
    display: flex;
    justify-content: center;
}
.button{
    padding: 5px;
}
/* ==Others setting== */
.box-error{
    color: red;
}
