<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="org.example.Main" />
    <module name="server" />
    <option name="VM_PARAMETERS" value="-DFCGI_PORT=20031" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>